html, body {
height: 100%;
}

header h1 {
	color:#000;
	font-weight:bold;
	padding: 12px;
	text-align:center;

}
.paragraph {
/* Old browsers */
background: #f989f9;
/* FF3.6+ */
background: -moz-linear-gradient(-45deg, #f989f9 0%, #f7a5ec 48%, #fd89d7 51%, #ff7cd8
100%);
/* Chrome,Safari4+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f989f9),
color-stop(48%,#f7a5ec), color-stop(51%,#fd89d7), color-stop(100%,#ff7cd8));
/* Chrome10+,Safari5.1+ */
background: -webkit-linear-gradient(-45deg, #f989f9 0%,#f7a5ec 48%,#fd89d7 51%,#ff7cd8
100%);
/* Opera 11.10+ */
background: -o-linear-gradient(-45deg, #f989f9 0%,#f7a5ec 48%,#fd89d7 51%,#ff7cd8
100%);
/* IE10+ */
background: -ms-linear-gradient(-45deg, #f989f9 0%,#f7a5ec 48%,#fd89d7 51%,#ff7cd8
100%);
/* W3C */
background: linear-gradient(135deg, #f989f9 0%,#f7a5ec 48%,#fd89d7 51%,#ff7cd8 100%);
/* IE6-9 fallback on horizontal gradient */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f989f9',
endColorstr='#ff7cd8',GradientType=1 );

border-radius: 5px 5px;
color: #fff;
max-width: 720px;
margin: 50px auto 0;
padding: 1rem;
position: relative;
top: 106px;
width: 100%;
}
.paragraph p {
font-family:'LeagueGothic',Geneva,sans-serif;
font-size: 1.1rem;
font-weight: normal;
letter-spacing: 0.5px;
line-height: 1.2;
}