* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.contenedor-tabs {
	max-width: 720px;
	margin: 50px auto 0;
	position: relative;
	width: 100%;
}
span.diana {
	display: none;
	position: fixed;
}
.tab div {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

	
	border-radius: 0 5px 5px;
	color: #fff;
	font-family:'LeagueGothic',Geneva,sans-serif;
	font-size: 1.1rem;
	font-weight: normal;
	left: 0;
	letter-spacing: 0.5px;
	line-height: 1.2;
	z-index: 5;
	opacity: 0;
	padding: 1rem;
	position: absolute;
	top: 1.2rem;
	transition: all 1s ease;
	width: 100%;
}
.tab div.first {
	/* Esto hará visible la primera pestaña (tab class=first) */
	opacity: 1;
}
.tab .tab-e {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	border-radius: 5px 5px 0 0;
	color: #fff;
	float: left;
	font-family:'GentiumRegular',Geneva,sans-serif;
	font-size: 1.3rem;
	font-weight: Bold;
	padding: 5px;
	position: relative;
	margin-right: 3px;
	margin-top: -1rem;
	min-width: 120px;
	text-decoration: none;
	text-align: center;
	transition: all .5s ease;
	width: 22.5%;
}
a.tab-e:hover {
	color: #999;
}
p img {
	float: left; width: 20%;
}
.diana:target + .tab div {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

	color: #fff;
	opacity: 1;
}
.diana:target + .tab .tab-e {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: #f5f5f5;
	z-index: 2;
}
@media screen and (max-width:370px){
.contenedor-tabs {
	min-width: 370px;
	margin: 2.5rem 0;
	width: 100%;
}
.tab div {
	font-size: 1rem;
	line-height: 1.1;
	padding: 1rem 5px;
	width: 100%;
}
.tab .tab-e {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-right: 0;
	padding: .5rem 0;
	text-align: center;
	width: 25%;
}
}
.diana:target + .tab .tab-e {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
	background: rgb(167,207,223); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: #f5f5f5;
	z-index: 2;
}
	@media screen and (max-width:370px){
	.contenedor-tabs {
		min-width: 370px;
		margin: 2.5rem 0;
		width: 100%;
	}
	.tab div {
		font-size: 1rem;
		line-height: 1.1;
		padding: 1rem 5px;
		width: 100%;
	}
	.tab .tab-e {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-right: 0;
		padding: .5rem 0;
		text-align: center;
		width: 25%;
	}
}